.searchbar {
  background-color: #f0f0f0;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.button {
  background-color: #3498db;
  color: white;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 15px;
}

.input {
  padding: 15px;
  margin: 0 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 300px;
  font-size: 18px;
}
